/* Font Corinthia */
@font-face{
    font-family: CorinthiaRegular;
    src: url(../Fonts/Corinthia/Corinthia-Regular.ttf);
}

@font-face{
    font-family: CorinthiaBold;
    src: url(../Fonts/Corinthia/Corinthia-Bold.ttf);
}
/* Font Corinthia */

/* Font Courgette */
@font-face{
    font-family: CourgetteRegular;
    src: url(../Fonts/Courgette/Courgette-Regular.ttf);
}
/* Font Courgette */

/* Font Im Pica */
@font-face{
    font-family: ImPicaRegular;
    src: url(../Fonts/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf);
}
@font-face{
    font-family: ImPicaItalica;
    src: url(../Fonts/IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf);
}
/* Font Im Pica */

/* Font Niconne */
@font-face{
    font-family: NiconneRegular;
    src: url(../Fonts/Niconne/Niconne-Regular.ttf);
}
/* Font Niconne */